:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: red;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 15rem;
  padding: 1rem 2rem;
  background-color: #19464E;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #396cd8;
}

.user-image {
  display: flex;
  border-radius: 50%;
  background-color: red;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.outer {
  height: 100px;
  width: 100px;
  background-color: #5BA18B;
  margin-bottom: 3rem;
}

.inner {
  height: 85px;
  width: 85px;
  background-color: #0E1D34;
}

.signin-help {
  display: flex;
  justify-content: space-between;
}

a {
  color: #E3DCA0;
  font-size: x-small;
  font-weight: bold;
  text-decoration: none;
}

p {
  color: red;
}

h1 {
  text-align: center;
  color: #E78647;
  font-weight: bold;
}

body {
    display: flex;
    justify-content: center;
    height: 100%;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
}

input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #E3DCA0;
    color: #E78647;
}

input::placeholder {
    color: #0E1D34;
}

button {
  cursor: pointer;
  background-color: #5BA18B;
  color: #E3DCA0;
}

button:hover {
  border-color: #0E1D34;
}
button:active {
  border-color: #0E1D34;
  background-color: #E78647;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #0E1D34;
  }

  a:hover {
    color: #24c8db;
  }

}
